<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfect style</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>

    <nav class="navbar"></nav>

    <header class="hero-section">
        <div class="content">
            <img src="img/dark-logo.png" class="logo" alt="">
            <p class="sub-heading">best fashion collection of all time</p>
        </div>
    </header>

    <section class="product">
        <h2 class="product-category">best selling</h2>

        <button class="pre-btn"><img src="img/arrow.png" alt=""></button>
        <button class="nxt-btn"><img src="img/arrow.png" alt=""></button>

        <div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <a href="product.html"> <img src="img/product image 1.png" class="product-thumb" alt=""></a>
                    <button class="card-btn">add to whislist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Calvin Klein</h2>
                    <p class="product-short-des">casual T-shirt for men </p>
                    <span class="price">$99</span>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="img/card1.png" class="product-thumb" alt="">
                    <button class="card-btn">add to whislist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Zara</h2>
                    <p class="product-short-des">casual dress for women</p>
                    <span class="price">$20</span>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="img/card1.png" class="product-thumb" alt="">
                    <button class="card-btn">add to whislist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Zara</h2>
                    <p class="product-short-des">casual dress for women</p>
                    <span class="price">$20</span>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="img/card1.png" class="product-thumb" alt="">
                    <button class="card-btn">add to whislist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Zara</h2>
                    <p class="product-short-des">casual dress for women</p>
                    <span class="price">$20</span>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="img/card1.png" class="product-thumb" alt="">
                    <button class="card-btn">add to whislist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Zara</h2>
                    <p class="product-short-des">casual dress for women</p>
                    <span class="price">$20</span>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="img/card1.png" class="product-thumb" alt="">
                    <button class="card-btn">add to whislist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Zara</h2>
                    <p class="product-short-des">casual dress for women</p>
                    <span class="price">$20</span>
                </div>
            </div>
        </div>

    </section>

    <section class="collection-container">
        <a href="#" class="collection">
            <img src="img/women-collection.png" alt="">
            <p class="collection-title">women <br> clothes</p>
        </a>
        <a href="#" class="collection">
            <img src="img/men-collection.png" alt="">
            <p class="collection-title">men <br> clothes</p>
        </a>
        <a href="#" class="collection">
            <img src="img/accessories-collection.png" alt="">
            <p class="collection-title">accessories</p>
        </a>
    </section>

    <footer></footer>
    <script src="js/footer.js"></script>
    <script src="js/nav.js"></script>
    <script src="js/home.js"></script>


</body>
</html>